

<div class="form-container">
  <h2>pelicula</h2>
  <form>
    <ion-input name="a1" [(ngModel)]="a1.value" placeholder="Nombre de la pelicula" ></ion-input>
    <ion-input  name="a1"  [(ngModel)]="a2.value" type ='number' placeholder="Año de lanzamiento" ></ion-input>
    <ion-input  name="a1"  [(ngModel)]="a3.value" placeholder="Nombre del productor" ></ion-input>
    <ion-input name="a1"  [(ngModel)]="a4.value" placeholder="Casa productora" ></ion-input>
    <ion-input  name="a1"  [(ngModel)]="a5.value" placeholder="Protagonista" ></ion-input>
    <br>
    <button type="button" (click)="x()" >
      enviar
      </button>
  </form>

  </div>
  <div *ngFor="let x of lol ">
    Nombre:<h1>{{x.a1}}</h1>
    Año:<h1>{{x.a2}}</h1>
    productor:<h1>{{x.a1}}</h1>
    casa prductora:<h1>{{x.a4}}</h1>
    protagonista:<h1>{{x.a5}}</h1>
    
  </div>
